Q1. How do you comment code in Python? What are the different types of comments?

Comments in python are founded by the symbol '#'
example:#hello world.
Two types of comments are available in python, the first one is line comment which is done by hash'#' symbol and the second one is block or multi line comment which is commented by triple quote('''   ''')
example:
for singal line - #i am sahil verma 
for multiline - '''i am sahil verma 
                   i am 19 years old
                   and i am writing the code''''

Q2. What are variables in Python? How do you declare and assign values to variables?

Variables are the memory location in python which can store the values for solving a task.
In python, we have to declare the variable by giving a name like a character(a,d,g,h,j) and as word (name, age,address,etc.)
with an example we can easily understand the declaration and assigning of variable:-
a='sahil'
age=19

Q3. How do you convert one data type to another in Python?

Python defines type conversion functions like int(), float(), str() to directly convert one data type into another. 
To convert one type of data into another by using of name as a type function. there are many kind of built-in function.
example:
    a=34
    print(float(a))
output is:
    34.0

Q4. How do you write and execute a Python script from the command line?

syntax of python:
    a="sahil verma"
    print(a)
We need to open a command line and type the word python followed by the path to our script file like this: python_script.py hello world then you can press enter.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [4]:
my_list=[1,2,3,4,5]
print(my_list)
my_list[1:3]

[1, 2, 3, 4, 5]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

Complex numbers are the numbers that are expressed in the form of a+ib where, a,b are real numbers and 'i' is an imaginary number called “iota”.and it is represented in python by a+bj( there is use only j not i and in maths we use i )

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

the correct way to declare a variable like
_age=25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [5]:
price=9.99
type(price)

float

hence float is a data type of 9.99.

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [6]:
name="sahil verma"
print(name)

sahil verma

Q10. Given the string "Hello, World!", extract the substring "World".

In [8]:
a="Hello, World!"
a[7:12]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [10]:
is_student = True
print("I am a student")

I am a student